@{
    ViewData["Title"] = "Education Platform";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EP</h1>
    <p><a>This is a place, where you can totally change your life!</a>.</p>
</div>
